# STRINGS

Strings are an ordered and immutable collection data type used for the text representation of data. They are one of the basic data types in the language. Strings can be created using single quotes (') or double quotes (") or three double quotes("""), and Python supports various operations and methods for working with strings.

### Single Quotes

In [5]:
string1='NMQ'

In [7]:
print(type(string1))
print(string1)

<class 'str'>
NMQ

### Double Quotes "

Alternatively, you can form a string by enclosing the text in double quotes.

In [8]:
new_string="NMQ"

In [9]:
print(type(new_string))
print(new_string)

<class 'str'>
NMQ

### Three Double Quotes "

Alternatively, you can form a string by enclosing the text in three double quotes.

In [10]:
new_string="""NMQ"""

In [11]:
print(type(new_string))
print(new_string)

<class 'str'>
NMQ

Whether you utilize single quotes ' or double quotes " or 3 double quotes, the resulting strings are equivalent

In [163]:
string1='NMQ'
string2="NMQ"
string3="""NMQ"""
print(string1==string2==string3)

True

### Quotes in strings are handled differently

- Single quote allow you to embed "double" quotes in your string
- Double quote allow you to embed 'single' quotes in your string
- Triple quotes allows to embed "double quotes" as well as 'single quotes' in your string. 
And can also span across multiple lines

In a string enclosed with single quotes ', you can use double quotes " directly. However, single quotes ' need to be escaped with a backslash, like this: \'. Writing \" for double quotes within the single-quoted string is also permissible, but unnecessary.

In [4]:
string='I'am a senior data analyst'
print(type(string))
print(string)

SyntaxError: unterminated string literal (detected at line 1) (1909298260.py, line 1)

In [9]:
string='I\'am a senior data analyst'
print(type(string))
print(string)

<class 'str'>
I'am a senior data analyst

In [2]:
#Double quote allow you to embed 'single' quotes in your string
string="I'am a senior data analyst"
print(type(string))
print(string)

<class 'str'>
I'am a senior data analyst

In [3]:
my_string="""I'am a senior data analyst"""
print(my_string)

I'am a senior data analyst

### Handle line breaks

Use the escape character \n to represent a new line

In [11]:
my_string="""I'am a \n senior data analyst"""
print(my_string)

I'am a
 senior data analyst

In [12]:
single_line = "This is a single line."
multi_line = "This is\na multi-line\nstring."
print(single_line)
print(multi_line)

This is a single line.
This is
a multi-line
string.

Triple-Quoted Strings:
Triple-quoted strings (''' or """) can span multiple lines.

In [40]:
multi_line = '''This is a
multi-line
string.'''
print(multi_line)

This is a
multi-line
string.

In [41]:
multi_line = """This is a
multi-line
string."""
print(multi_line)

This is a
multi-line
string.

You can use a raw string (r"...") to avoid interpreting escape characters.

In [42]:
raw_string = r"This is a raw string\nwith a literal\nbackslash."
print(raw_string)

This is a raw string\nwith a literal\nbackslash.

### Length of the strings

In [153]:
# Define a string
my_string = "Hello, World!"
print(len(my_string))

13

### SLICING

string[start:stop:step]

- start: The index where the slicing begins (inclusive).- 
stop: The index where the slicing stops (exclusive)
- 
step:(optional) The step or stride between characters.

In [154]:
# Define a string
my_string = "Hello, World!"
print(my_string)

Hello, World!

In [155]:
# Slicing from index 7 to 12 (not including 5)
substring = my_string[7:12]
print(substring)

World

In [118]:
# Slicing from the beginning to index 5 (not including 5-exclusive)
substring_start_omit = my_string[:5]  
print(substring_start_omit)

Hello

In [121]:
substring_start_omit = my_string[:2]  # From the beginning to index 2 (exclusive)
print(substring_start_omit)

He

In [141]:
substring_stop_omit = my_string[7:]   # From index 7 to the end
print(substring_stop_omit)   # Output: World!

World!

In [150]:
# Define a string
my_string = "Hello, World!"
print(my_string)
print(my_string[0])#print index  0
print(my_string[1])#print index  1
print(my_string[3])#print index  3
print(my_string[7])#print index  7

Hello, World!
H
e
l
W

In [151]:
# Define a string
my_string = "Hello, World!"
print(my_string)
print(my_string[-1])#extract first element from the end of the string
print(my_string[-2])#extract second element from the end of the string
print(my_string[-3])#extract third element from the end of the string

Hello, World!
!
d
l

In [148]:
# Negative indices
substring_negative = my_string[-6:-1]  # Equivalent to my_string[7:12]
print(substring_negative)

World

take every character from the beginning to the end of the string

In [59]:
print(my_string[::1])

Hello, World!

omit start index and stop index and extract whole string

In [63]:
print(my_string[:])

llo

take every second character from the beginning to the end of the string

In [61]:
print(my_string[::2])

Hlo ol!

In [68]:
#It utilizes slicing with a negative step value to iterate over the string in reverse order.
my_string = "Hello, World!"
print(my_string)
print(my_string[::-1])

Hello, World!
!dlroW ,olleH

In [70]:
#take every second  character from the end to the beginning of the string, with a step of -2
my_string = "Hello, World!"
print(my_string)
print(my_string[::-2])

Hello, World!
!lo olH

#### strings are immutable and they can never ever change

In [72]:
my_string = "Hello, World!"
my_string[0]='xx'
print(my_string)

TypeError: 'str' object does not support item assignment

if we want to change it we need we need to assign the new string back to s

In [52]:
my_string=my_string.replace('o','M')
print(my_string)

HellM, WMrld!

In [73]:
#The += operator in Python is used for string concatenation when combined with a value
my_string = "Hello, World!"
my_string+='KYZ'
print(my_string)

Hello, World!KYZ


In Python, the id() function is used to get the identity (memory address) of an object. When you use id(string), it will return the memory address of the string object in memory.

In [75]:
my_string = "Hello, World!" #what is the unique obhect ID of the item (string) that s refers to
id(my_string)

1772539100848

In Python, when you use the + operator with two strings, it concatenates them, meaning it combines the characters from 
both strings to create a new string. Here's an example:

In [76]:
s1="""abcd"""
s2="""'efg"""

In [77]:
sentence=s1+s2
print(sentence)

abcd'efg

In [78]:
s2="""'efg"""
for i in s2:
    print(i)

'
e
f
g

In [79]:
if 'e' in s2:
    print('yes')
else:
    print('no')

yes

In [80]:
if 'fg' in s2:
    print('yes')
else:
    print('no')

yes

In [81]:
if 'q' in s2:
    print('yes')
else:
    print('no')

no

### Strip

In Python, the strip() method is used to remove leading and trailing whitespaces (including spaces, tabs, and newline characters) from a string. The strip() method does not modify the original string; instead, it returns a new string with the leading and trailing whitespaces removed.

In [5]:
s='  abcd ""efg    '
print(s)

  abcd ""efg

In [6]:
s=s.strip()
print(s)

abcd ""efg

In [7]:
s='  abcd ""efg    '
s.strip() #original not change
print(s)

  abcd ""efg

### upper & lower & startswith

In Python, you can use the upper() method to convert a string to uppercase

In [14]:
my_string = "Hello, World!"
print(my_string)
print(my_string.upper())

Hello, World!
HELLO, WORLD!


To convert a string to lowercase in Python, you can use the lower()

In [15]:
my_string = "HELLO, World!"
print(my_string)
print(my_string.lower())

HELLO, World!
hello, world!

you can check if a string starts with a specific substring using the startswith() method.

In [18]:
s='abcd ""efg'
print(s.startswith('abc'))
print(s)

True
abcd ""efg

In [19]:
s='abcd ""efg'
print(s.startswith('A'))
print(s)

False
abcd ""efg

In [30]:
# Check if the substring "Hello" is present in the first 5 characters
my_string = "Hello, World!"
if my_string.startswith("Hello", 0, 5):
    print("The substring 'Hello' is present in the first 5 characters")
else:
    print("The substring 'Hello' is not present in the first 5 characters")

The substring 'Hello' is present in the first 5 characters

In [32]:
# Check if the substring "hal" is present in the first 3 characters
if my_string.startswith("hal", 0, 3):
    print("The substring 'Hello' is present in the first 3 characters")
else:
    print("The substring 'Hello' is not present in the first 3 characters")

The substring 'Hello' is not present in the first 3 characters

### endswith


In Python, you can check if a string ends with a specific substring using the endswith() method.

In [20]:
s='abcd ""efg'
print(s.endswith('g'))
print(s)

True
abcd ""efg

In [21]:
s='abcd ""efg'
print(s.endswith('efg'))
print(s)

True
abcd ""efg

In [33]:
# Check if the substring "World" is present in the last 6 characters
my_string = "Hello, World!"
if my_string.endswith("World", -6):
    print("The substring 'World' is present in the last 6 characters")
else:
    print("The substring 'World' is not present in the last 6 characters")

The substring 'World' is not present in the last 6 characters

### find

In Python, you can use the find() method to locate the index of the first occurrence of a substring within a string.If the substring is not found, the method returns -1.

In [59]:
s='abcd ""efg'
print(s)
print(s.find('e'))

abcd ""efg
7

In [60]:
s='abcd ""efg'
print(s)
print(s.find('efg'))

abcd ""efg
7

In [61]:
s='abcd ""efg'
print(s)
print(s.find('cd'))

abcd ""efg
2

In [62]:
my_string='Hello World'
print(my_string.find('zk'))

-1

In [63]:
my_string = "Hello, World!"
print(my_string)

# Find the index of the substring "World" starting from index 7
index1 = my_string.find("World", 7)
print(index1)
if index != -1:
    print(f"The substring 'World' is found at index {index}")
else:
    print("The substring 'World' is not found in the specified range")

Hello, World!
7
The substring 'World' is found at index 7

### Count

In [68]:
my_string = "Hello, World! Hello, Universe! Hello, Python!"

# Count the occurrences of the substring "Hello"
count = my_string.count("Hello")

print(f"The substring 'Hello' appears {count} times in the string.")

The substring 'Hello' appears 3 times in the string.

In this example, the count() method is used to count the number of occurrences of the substring "Hello" in the my_string variable.

You can also use optional start and end parameters to count occurrences within a specific range:

In [69]:
my_string = "Hello, World! Hello, Universe! Hello, Python!"

# Count the occurrences of the substring "Hello" in the first 20 characters
count = my_string.count("Hello", 0, 20)

print(f"The substring 'Hello' appears {count} times in the specified range.")

The substring 'Hello' appears 2 times in the specified range.

In [70]:
s='abcd ""efga a'
print(s.count('a'))
print(s)

3
abcd ""efga a

In [71]:
s='abcd ""efga a'
print(s.count('q'))
print(s)

0
abcd ""efga a

### replace

To replace occurrences of a substring within a string in Python, you can use the replace() method

In [75]:
my_string='Hello World'
print(my_string.replace('World','eeel'))

Hello eeel

In [76]:
s='abcd ""efga a'
print(s.replace('efg','222'))

abcd ""222a a

# split


In Python, you can use the split() method to split a string into a list of substrings based on a specified delimiter.

In [78]:
my_string = "apple,banana,orange,grape"

# Split the string into a list of fruits
fruit_list = my_string.split(',')

print(fruit_list)

['apple', 'banana', 'orange', 'grape']

In [79]:
my_string = "one two three four five"

# Split the string into a list, limiting the splits to 3
parts = my_string.split(' ', 3)

print(parts)

['one', 'two', 'three', 'four five']

In [182]:
s='abcd ""efga a'
list1=s.split()
print(type(list1))
print(list1)

<class 'list'>
['abcd', '""efga', 'a']

In [183]:
s='abcd ""efga a'
list2=s.split(" ")
print(list2)

['abcd', '""efga', 'a']

In [184]:
s='abcd,"",efga, a'
list3=s.split(",")
print(list3)

['abcd', '""', 'efga', ' a']

In [185]:
s='abcd,"",efga, a'
s=s.split(",")
print(s)
s=''.join(s)
print(s)

['abcd', '""', 'efga', ' a']
abcd""efga a

### Join method

The join() method in Python is used to concatenate a sequence of strings, typically elements of a list, with a specified separator. While it may not be immediately obvious, using join() instead of concatenation (+ operator) for combining strings has several computational advantages, especially when dealing with large datasets or loops. Here are some reasons why using join() is advantageous:

Efficiency: The join() method is more efficient than using the + operator for concatenating multiple strings, especially when dealing with a large number of strings. This is because join() operates directly on the list of strings and doesn't create intermediate string objects.

Memory Usage: When you use + to concatenate strings in a loop, a new string is created at each iteration. This can lead to excessive memory usage, especially with a large number of iterations. join() is more memory-efficient since it operates on the original list without creating intermediate strings.

Readability and Maintainability: The use of join() often makes the code more readable and concise. It clearly communicates the intent of concatenating strings with a specific separator.

In [84]:
s='abcd,"",efga, a'
s=s.split(",")
print(s)
s=' '.join(s)
print(s)

['abcd', '""', 'efga', ' a']
abcd "" efga  a

In [85]:
list=['s']*6
print(list)

['s', 's', 's', 's', 's', 's']

In [86]:
from timeit import default_timer as timer

In [164]:
#bad code expensive to compute 
start=timer()
list1=['s']*1000000
#print(list)
s=''
for i  in list1:
    s +=i
    stop=timer()
#print(s)
print(stop-start)

14.563211700005922

In [165]:
#good and cheap to compute
start=timer()
list1=['s']*1000000
#print(my_list)
s =''.join(list1)
stop=timer()
#print(my_string)
print(stop-start)

0.01296060000458965

As it far less minutes than the join method so In summary, using the join() method is generally recommended for concatenating strings, especially when dealing with large datasets or repetitive operations. It leads to more efficient code in terms of time and memory usage.

### format strings

You can use the % operator for string formatting. It allows you to embed values into a string using placeholders.

In [166]:
name="Alex"
s="my name is %s" % name
print(s)

my name is Alex

In [167]:
name = "Bob"
age = 25
message = "My name is %s and I am %d years old." % (name, age)
print(message)

My name is Bob and I am 25 years old.

if variable is number

In [168]:
age=44
s="my age is %d" % age
print(s)
print(type(s))

my age is 44
<class 'str'>

In [169]:
var=5.34256
s="the price of the product is %d dollars" % var
print(s)

the price of the product is 5 dollars

In [170]:
var=5.34567234
s="the price of the product is %f dollars" % var 
print(s)

the price of the product is 5.345672 dollars

In [171]:
var=125.7644545634
s="the price of the product is %.2f dollars" % var
print(s)

the price of the product is 125.76 dollars

The format() method provides a more flexible and readable way to format strings. You can use placeholders within the string and then call the format() method to substitute values.on

In [172]:
var=5.123456789456
s="the variable is {}".format(var)
print(s)

the variable is 5.123456789456

In [173]:
var=23.4564546
s="I have {:.2f} dollars".format(var)
print(s)

I have 23.46 dollars

In [174]:
height=1.754
name='John'
s="my height is {:.2f} and my name is {}".format(height,name)
print(s)

my height is 1.75 and my name is John

In [175]:
height=1.754
name='John'
s="my height is {height:.2f} and my name is {name}".format(height=1.5467,name="John")
print(s)

my height is 1.55 and my name is John

In this example, variables are directly embedded within the string using curly braces {} preceded by an f character.

In [176]:
var=5.67573578
var2=6
my_string=f"the variable is {var*2} and {var2}"
print(my_string)

the variable is 11.35147156 and 6

In [177]:
s = "My name is {fname}, I'm {age} years old".format(fname = "Matt", age = 36)
print(s)

My name is Matt, I'm 36 years old

In [178]:
s = "My name is {0}, I'm {1}".format("Matt", 36)
print(s)

My name is Matt, I'm 36

In [4]:
name="Matt"
age=45
s = "My name is {0} and I am {1} years old. My best friend is also {1} years old.".format(name, age)
print(s)

My name is Matt and I am 45 years old. My best friend is also 45 years old.

In [3]:
my_string = "{}, is a {} {} science portal"
 
print(my_string.format("GeeksforGeeks", "computer", "geeks"))

GeeksforGeeks, is a computer geeks science portal

### Zip

If you want to "zip" two strings together in Python, you can achieve this by converting the strings into iterables of characters (e.g., lists or tuples) and then using the zip function. Here's an example:

In [2]:
string1 = "Hello"
string2 = "World"

# Convert strings to lists of characters
list1 = list(string1)
list2 = list(string2)

# Use zip to combine corresponding characters into tuples
result = zip(list1, list2)

# Convert the zip object to a list for easy display
result_list = list(result)

print(result_list)

[('H', 'W'), ('e', 'o'), ('l', 'r'), ('l', 'l'), ('o', 'd')]