# Lists:ordered , mutable allows duplicate elements

- Python lists are dynamic data structures, allowing for modifications to their elements. You can alter individual elements, replace them, and rearrange the order of elements even after the list has been initialized

In [4]:
my_list=["banana","apple","cherry"]

In [5]:
type(my_list)

list

In [6]:
print(my_list)

['banana', 'apple', 'cherry']

In [7]:
#creating empty list 
list2=[]
type(list2)

list

In [8]:
#Duplicates allowwed
list3=[3,True,'APPLE','APPLE'] 
print(list3)

[3, True, 'APPLE', 'APPLE']

### Index and slicing in list

#### You can use slicing to extract a portion of a list. The basic syntax for list slicing is as follows:

new_list = old_list[start:stop:step]

In [13]:
my_list=["a",'bc',15,'%%mm','John','apple','xx1',3425.675]
print(my_list)
## Extract elements from index 0 to 5 (exclusive)
element=my_list[0]
print(element)

['a', 'bc', 15, '%%mm', 'John', 'apple', 'xx1', 3425.675]
a

In [16]:
# Extract element from index 1  
element=my_list[1]
print(element)

bc

In [17]:
# Extract element from index 2  
element=my_list[2]
print(element)

15

### Negative indexing in a list allows you to access elements from the end of the list by using negative numbers as indices.

In [23]:
#the index -1 refers to the last element in the list,
element=my_list[-1]
print(element)

3425.675

In [24]:
# refers to the second-to-last element
element=my_list[-2]
print(element)

xx1

In [25]:
# refers to the third-to-last element
element=my_list[-3]
print(element)

apple

In [26]:
# Extract elements from index 2 to 5 (exclusive)
print(my_list[2:5])

[15, '%%mm', 'John']

In [27]:
# Extract elements from index 5 to end
print(my_list[5:])

['apple', 'xx1', 3425.675]

In [28]:
# slice that includes all elements from the beginning of the list (index 0) up to, but not including, the element at index 3.
print(my_list[:3])

['a', 'bc', 15]

In [29]:
# Extract every  element
a=my_list[::1]
print(a)

['a', 'bc', 15, '%%mm', 'John', 'apple', 'xx1', 3425.675]

In [30]:
# Extract every second element
a=my_list[::2]
print(a)

['a', 15, 'John', 'xx1']

####  In Python, you can use a for loop to iterate over the elements of a list. Here's a basic syntax for a for loop:

In [31]:
my_list=["a",'bc',15,'%%mm','John','apple','xx1',3425.675]

Here's a basic syntax for a for loop:

In [32]:
for i in my_list:
  print(i)

a
bc
15
%%mm
John
apple
xx1
3425.675

In [33]:
if "apple" in my_list:
   print("yes")
else:
  print("no")

yes

In [34]:
if "lemon" in my_list:
   print("yes")
else:
  print("no")

no

In [35]:
len(my_list)

8

### Add Elements to a List

In [36]:
#using append
list=["a",'bc',15,'%%mm']
list.append("lemon")
print(list)

['a', 'bc', 15, '%%mm', 'lemon']

In [37]:
#using extend
list1=["a",'bc',15,'%%mm']
print(list1)
list2=["12",'mz']
print(list2)
list1.extend(list2)
print("new list1:",list1)

['a', 'bc', 15, '%%mm']
['12', 'mz']
new list1: ['a', 'bc', 15, '%%mm', '12', 'mz']

In [39]:
#insert specific location
list1=["a",'bc',15,'%%mm']
print(list1)
list.insert(1,"John")
print(list)

['a', 'bc', 15, '%%mm']
['a', 'John', 'John', 'bc', 15, '%%mm']

### pop return last elemen

In [40]:
list1=["a",'bc',15,'%%mm']
item=list1.pop()
print(item)
print(list1)

%%mm
['a', 'bc', 15]

In [41]:
list1=["a",'bc',15,'%%mm']
list1.remove("bc")
print(list1)

['a', 15, '%%mm']

remove first elemen

In [43]:
list1=["a",'bc',15,'%%mm']
print(list1)
list1.remove("a")
print(list1)

['a', 'bc', 15, '%%mm']
['bc', 15, '%%mm']

In [44]:
list1.clear()
print(list1)

[]

### In Python, you can reverse a list using the reverse() method or by using slicing. Here are both methods:

In [46]:
list1=["a",'bc',15,'%%mm']
print(list1)
list1.reverse()
print("reversed list:",list1)

['a', 'bc', 15, '%%mm']
reversed list: ['%%mm', 15, 'bc', 'a']

If you want to sort the original list in-place (modify the original list), you can use the sort() method of a list:

In [47]:
list1=['z','cherry','a1','gx33']
print(list1)
list1.sort()
print("sorted list:",list1)

['z', 'cherry', 'a1', 'gx33']
sorted list: ['a1', 'cherry', 'gx33', 'z']

In [48]:
list1=[4,10,-7,12,7,-3,3,4,-5,4]
print(list1)
list1.sort()
print("sorted list:",list1)

[4, 10, -7, 12, 7, -3, 3, 4, -5, 4]
sorted list: [-7, -5, -3, 3, 4, 4, 4, 7, 10, 12]

In this example, sorted(original_list) returns a new list that is a sorted version of originallist. The original list remains unchanged.

In [49]:
list1=[4,10,-7,12,7,-3,3,4,-5,4]
list2=sorted(list1)
print(list1)
print(list2)

[4, 10, -7, 12, 7, -3, 3, 4, -5, 4]
[-7, -5, -3, 3, 4, 4, 4, 7, 10, 12]

in Python, when you use the "*" operator with a list, it repeats the elements of the list a specified number of times.

In [50]:
list1=[0]*5
print(list1)

[0, 0, 0, 0, 0]

In [51]:
list1=[1,2,3,4,5]*3
print(list1)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [52]:
list1=[1,2,3,4,5]
print(list1)
list2=[0]*5
print(list2)
new_list=list1+list2
print(new_list)

[1, 2, 3, 4, 5]
[0, 0, 0, 0, 0]
[1, 2, 3, 4, 5, 0, 0, 0, 0, 0]

In [53]:
a=list1[::1]
print(a)

[1, 2, 3, 4, 5]

### COPY() LIST

In [54]:
list_org=["banana","cherry","apple"]
print(list_org)

['banana', 'cherry', 'apple']

In [55]:
list_copy=list_org

As you can see, when we modify the original list, the shallow copy is  affected and changed

In [56]:
list_copy.append("lemon")

In [57]:
print(list_copy)
print(list_org)

['banana', 'cherry', 'apple', 'lemon']
['banana', 'cherry', 'apple', 'lemon']

In [58]:
list_org=["banana","cherry","apple"]
print(list_org)

['banana', 'cherry', 'apple']


In Python, the copy() method for lists is used to create a shallow copy of a list. This means that a new list is created, and the elements of the original list are copied to the new list.

In [59]:
list_copy=list_org.copy()

In [60]:
list_copy.append("lemon")

As you can see, when we modify the original list, the shallow copy is not affected.

In [61]:
print(list_copy)
print(list_org)

['banana', 'cherry', 'apple', 'lemon']
['banana', 'cherry', 'apple']

Another way of copying the list

In [62]:
list_org=["banana","cherry","apple"]
list_copy=list(list_org)

TypeError: 'list' object is not callable

In [63]:
list_copy

['banana', 'cherry', 'apple', 'lemon']

In [64]:
list_cpy=list_org[:]

In [65]:
print(list_cpy)

['banana', 'cherry', 'apple']

In [66]:
list_copy.append("lemon")

In [67]:
print(list_copy)
print(list_org)

['banana', 'cherry', 'apple', 'lemon', 'lemon']
['banana', 'cherry', 'apple']

In [68]:
mylist=[1,2,3,4,5,6]

In [69]:
b=[i*i for i in mylist]
print(b)

[1, 4, 9, 16, 25, 36]

In [70]:
even_squares = [x*x  for x in mylist if x % 2 == 0]
print(even_squares)

[4, 16, 36]

In [71]:
lst = ['a', 'ab', 'abc', 'bac','2cab','23  4ab']
[k for k in lst if 'ab' in k]

['ab', 'abc', '2cab', '23  4ab']

In [72]:
c=[4,5,6,7]
b=[c*c for c in c]
print(b)

[16, 25, 36, 49]

### Nested List (2-D List )


In Python, a nested list is a list that appears as an element in another list.

In [73]:
#filtering elements from list of lists in Python?
a = [[1,2,3],[4,5,6]]
print(a)

[[1, 2, 3], [4, 5, 6]]

In [74]:
print(a[0])

[1, 2, 3]

In [45]:
[item for item in a if sum(item) > 10]

[[4, 5, 6]]

### ZIP function


The zip function in Python is used to combine multiple iterables (such as lists) element-wise.

In [2]:
Names=["John","Alex","Marry"]
Ages=[24,45,32]
Jobs=["Dentist","Teacher","Nurse"]
combined=zip(Names,Ages,Jobs)
print(list(combined))

[('John', 24, 'Dentist'), ('Alex', 45, 'Teacher'), ('Marry', 32, 'Nurse')]

In [47]:
for names,ages,jobs in combined:
    print("Customer name is:{} age is :{} job is:{}".format(names,ages,jobs))

Customer name is:John age is :24 job is:Dentist
Customer name is:Alex age is :45 job is:Teacher
Customer name is:Marry age is :32 job is:Nurse

### the unpacking operator "*"

The asterisk (*) operator, when used singly, unpacks all iterable variables that have not been assigned to any specific variable.

In [48]:
Names=["John","Alex","Marry","Marry"]
Ages=[24,45,32,21]

In [49]:
print(list(zip(Names,Ages)))

[('John', 24), ('Alex', 45), ('Marry', 32), ('Marry', 21)]

In [50]:
start, *middle, end = zip(Names,Ages)

In [51]:
print(start)
print(middle)
print(end)

('John', 24)
[('Alex', 45), ('Marry', 32)]
('Marry', 21)

### Unzipping Zip Object

In [52]:
digits = [1,2,3,4,5]
words = ['one', 'two', 'three', 'four','five']
zipobj = list(zip(digits, words))
print(zipobj)
## to unzip
x,y = zip(*zipobj)
print(x)
print(y)

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five')]
(1, 2, 3, 4, 5)
('one', 'two', 'three', 'four', 'five')

### Enumerate

In Python, the enumerate() function is used to iterate over a list (or any iterable) while keeping track of both the index and the value of each element. It returns pairs of index and element as tuples. Here's an example:

In [53]:
Names=["John","Alex","Marry","Marry"]
print(enumerate(Names))

<enumerate object at 0x0000024A1C2B4C00>

In [54]:
print(list(enumerate(Names)))

[(0, 'John'), (1, 'Alex'), (2, 'Marry'), (3, 'Marry')]

In [55]:
for index,x in enumerate(Names):
  print(index,x)

0 John
1 Alex
2 Marry
3 Marry

In [56]:
for index,x in enumerate(Names,start=1):
  print(index,x)

1 John
2 Alex
3 Marry
4 Marry