# Tuples

- Tuples can contain different data types
- Immutable (no adding or removing elements form the tuples)
- ordered

In [1]:
tuple1=("John",28,"boston")

In [2]:
print(tuple1)

('John', 28, 'boston')

### One item tuple, remember the comma:

In [2]:
tuple1=("John")
print(type(tuple))

<class 'type'>

In [3]:
tuple1=("John",)
print(type(tuple))

<class 'type'>

In [4]:
tuple1=("Alex",28,"Clevelend")

In [5]:
print(tuple1)

('Alex', 28, 'Clevelend')

In [6]:
element=tuple1[0]

In [7]:
print(element)

Alex

In [8]:
element=tuple1[1]
print(element)

28

In [9]:
tuple1[-1]

'Clevelend'

In [10]:
for i in tuple1:
    print(i)

Alex
28
Clevelend

In [11]:
if "Alex" in tuple1:
    print("yes")
else: 
    print("no")

yes

In [12]:
if 28 in tuple1:
    print("yes")
else: 
    print("no")

yes

In [13]:
newtuple=('a','x','bc','m','e','s')
print(newtuple)

('a', 'x', 'bc', 'm', 'e', 's')

In [14]:
print(len(newtuple))

6

In [15]:
print(newtuple.count('a'))

1

In [16]:
print(newtuple.index('e'))

4

### Convert list to tuples tuples to list

In [17]:
newtuple=('a','x','bc','m','e','s')
list1=list(newtuple)
print(list1)

['a', 'x', 'bc', 'm', 'e', 's']

In [18]:
mytuple2=tuple(list1)

In [19]:
print(mytuple2)

('a', 'x', 'bc', 'm', 'e', 's')

Another way of converting tuples to list

In [20]:
newtuple=('a','x','bc','m','e','s')
list1=[*newtuple,]
print(list1)

['a', 'x', 'bc', 'm', 'e', 's']

### SLICING

In Python, slicing is a way to extract a portion of a sequence, such as a tuple, list, or string. Slicing is done using the colon (:) operator within square brackets []. For tuples specifically, slicing works similarly to lists

tuple_name[start_index:stop_index]

In [22]:
A=(1,2,3,4,5,6,7,8,9)
print(A)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [23]:
#Slicing from index 3 to 6 (excluding 6)
B=A[3:6]
print(B)

(4, 5, 6)

In [24]:
## Omitting stop_index, slicing from index 3 to the end
A[3:]

(4, 5, 6, 7, 8, 9)

In [27]:
# Omitting start_index, slicing from the beginning to index 5 (excluding 5)
A[:5]

(1, 2, 3, 4, 5)

In [28]:
#start:stop:step  step by 1
A[::1]

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [32]:
A[2:5:1]

(3, 4, 5)

In [34]:
A[2:5:2]

(3, 5)

In [37]:
#step by 2
A[::2]

(1, 3, 5, 7, 9)

In [38]:
A[::-1]

(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [39]:
A[::-2]

(9, 7, 5, 3, 1)

#### Assigning name to each element in TUPLES

In [40]:
mytuple=("mel",28,"boston")
name,age,city=mytuple
print(type(mytuple))
print(name)
print(age)
print(city)

<class 'tuple'>
mel
28
boston

In [41]:
import sys
my_list=[0,1,2,"hello",True]
my_tuples=(0,1,2,"hello",True)

In [42]:
#you can get the size of tuples 
print(sys.getsizeof(my_list),"bytes")
print(sys.getsizeof(my_tuples),"bytes")

104 bytes
88 bytes

In [43]:
import timeit
print(timeit.timeit(stmt="[0,1,2,3,4,5]",number=100000))
print(timeit.timeit(stmt="(0,1,2,3,4,5)",number=100000))

0.004878799999914918
0.0005432000002656423

### Unpacking the tuples

The asterisk (*) operator, when used singly, unpacks all iterable variables that have not been assigned to any specific variable.

In [44]:
my_tuple=(1,2,3,4,5,6)
first,*middle,last=my_tuple
print(middle)

1
[2, 3, 4, 5]
6

In [17]:
# Unpacking values from a tuple
tuple_example = (1, 2, 3, 4, 5)

# Unpack the first two values, and pack the rest into another tuple
first, second, *rest = tuple_example

print("First:", first)
print("Second:", second)
print("Rest:", rest)

First: 1
Second: 2
Rest: [3, 4, 5]

### packing the tuples

In [18]:
# Packing values into a tuple
tuple_packing = (1, 2, 3)

# Create a new tuple with additional values using the asterisk
new_tuple = (*tuple_packing, 4, 5, 6)

print(new_tuple)

(1, 2, 3, 4, 5, 6)

These are the basic uses of the asterisk operator in tuples. Depending on whether you are packing or unpacking, and the specific context, the asterisk can be a powerful tool for handling tuples with varying numbers of elements.

### ZIP function (join the tuples)


The zip() function in Python is used to combine two or more iterables into tuples. It takes multiple iterable objects as arguments and returns an iterator of tuples where the i-th tuple contains the i-th element from each of the input iterables. Here's an example using tuples:

In [1]:
#in set format
names=("Alex","John","Steve","Alex")
ages=(23,45,67,23)
# Using zip to combine the tuples
# Converting the result to a list (since zip returns an iterator)
print(set(zip(names,ages)))

{('Alex', 23), ('Steve', 67), ('John', 45)}

In [2]:
#in list format
names=("Alex","John","Steve","Alex")
ages=(23,45,67,23)
print(list(zip(names,ages)))

[('Alex', 23), ('John', 45), ('Steve', 67), ('Alex', 23)]

In [3]:
#dictionary format
names=("Alex","John","Steve","Alex")
ages=(23,45,67,23)
print(dict(zip(names,ages)))

{'Alex': 23, 'John': 45, 'Steve': 67}

You can also use the zip() function with more than two iterables:

In [48]:
tuple1=(1,2,3)
print("tuple1=",tuple1)
tuple2=(4,5,6)
print("tuple2=",tuple2)
tuple3=(7,8,9)
print("tuple3=",tuple3)

tuple1= (1, 2, 3)
tuple2= (4, 5, 6)
tuple3= (7, 8, 9)

In [49]:
newlist=list(zip(tuple1,tuple2,tuple3))
print(newlist)

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In python asterisk * operator can be used for both unpacking and packing. When used in the context of creating a list of tuples, it is typically used for packing values into tuples. Here's an example:on

In [7]:
# Creating a list of tuples using the * operator
list_of_tuples = [(1, *range(2, 5)), (6, *range(7, 10)), (11, *range(12, 15))]

print(list_of_tuples)

[(1, 2, 3, 4), (6, 7, 8, 9), (11, 12, 13, 14)]

In [8]:
tuples = ('Spark', 'Python', 'pandas', 'Java')
# convert tuple into list
list1 = [*tuples,]
print(list1)

['Spark', 'Python', 'pandas', 'Java']

In [9]:
# Example 1: Convert the tuple to a list another way
tuples = (0, 2, 4, 6, 8)
mylist = list(tuples)
print(mylist)

[0, 2, 4, 6, 8]

In [10]:
#Print with for loop 
for i in zip(names,ages):
    print(i)

('Alex', 23)
('John', 45)
('Steve', 67)
('Alex', 23)

In [11]:
#Print with for loop 
for (a,b) in zip(names,ages):
    print(a,b)

Alex 23
John 45
Steve 67
Alex 23

### enumarate

The enumerate function is used to iterate over a sequence (such as a list, tuple, or string) along with an index, keeping track of both the index and the corresponding element. It returns pairs of the form (index, element)

In [12]:
names=("Alex","John","Steve","Alex")
print(names)

('Alex', 'John', 'Steve', 'Alex')

In [13]:
y=enumerate(names)
print(y)

<enumerate object at 0x000001F67AFFBBF0>

In [14]:
y=enumerate(names)
print(list(y))

[(0, 'Alex'), (1, 'John'), (2, 'Steve'), (3, 'Alex')]

use enumerate in a for loop to get an item and its index

In [15]:
m=list(enumerate(names))
for index,x in m:
  print(index,x)

0 Alex
1 John
2 Steve
3 Alex

In [16]:
m=list(enumerate(names,start=1))
for index,x in m:
  print(index,x)

1 Alex
2 John
3 Steve
4 Alex