# STRINGS

Strings are an ordered and immutable collection data type used for the text representation of data

### Single Quotes

In [20]:
string='NMQ'

In [22]:
print(type(string))
print(string)

<class 'str'>
NMQ

### Double Quotes "

Alternatively, you can form a string by enclosing the text in double quotes.

In [25]:
string="NMQ"

In [26]:
print(type(string))
print(string)

<class 'str'>
NMQ

### Three Double Quotes "

Alternatively, you can form a string by enclosing the text in three double quotes.

In [16]:
string="""NMQ"""

In [17]:
print(type(string))
print(string)

<class 'str'>
NMQ

Whether you utilize single quotes ' or double quotes " or 3 double quotes, the resulting strings are equivalent

In [19]:
string1='NMQ'
string2="NMQ"
string3="""NMQ"""
print(string1==string2==string3)

True

### Quotes in strings are handled differently

- Single quote allow you to embed "double" quotes in your string
- Double quote allow you to embed 'single' quotes in your string
- Triple quotes allows to embed "double quotes" as well as 'single quotes' in your string. 
And can also span across multiple lines

In a string enclosed with single quotes ', you can use double quotes " directly. However, single quotes ' need to be escaped with a backslash, like this: \'. Writing \" for double quotes within the single-quoted string is also permissible, but unnecessary.

In [25]:
string='I'am a senior data analyst'
print(type(string))
print(string)

SyntaxError: unterminated string literal (detected at line 1) (1909298260.py, line 1)

In [26]:
string='I\'am a senior data analyst'
print(type(string))
print(string)

<class 'str'>
I'am a senior data analyst

In [27]:
my_string="""I'am a senior data analyst"""
print(my_string)

I'am a senior data analyst

### Handle line breaks

In [29]:
my_string="""I'am a \
senior data analyst"""
print(my_string)

I'am a senior data analyst

### SLICING

In [51]:
s="abcd 'yz"
print(s)

abcd 'yz

In [53]:
print(s[0])
print(s[1])
print(s[2])
print(s[3])

a
b
c
d

In [54]:
print(s[-1])
print(s[-2])
print(s[-3])

z
y
'

strings are immutable and they can never ever change

In [55]:
s[0]='m'
print(char)

TypeError: 'str' object does not support item assignment

if we want to change it we need we need ro assign the new string back to s

In [57]:
s=s.replace('a','M')
print(s)

Mbcd 'yz

In [59]:
s="abcd 'yz"
print(s)

abcd 'yz

In [60]:
s+='KYZ'
print(s)

abcd 'yzKYZ

In [65]:
s="abcd 'yz" #what is the unique obhect ID of the item (string) that s refers to
id(s)

1771480720048

In [68]:
s="abcd 'yz"
print(s[1:5])

bcd

In [71]:
s="abcd 'yz"
print(s[:3])

abc

In [72]:
s="abcd 'yz"
print(s[:])

abcd 'yz

step index

In [75]:
s="abcd 'yz"
print(s[::1])

abcd 'yz

In [80]:
print(s[::2])

ac y

In [81]:
s="abcd 'yz"
print(s[::-1])

zy' dcba

In [83]:
s1="""abcd"""
s2="""'efg"""

In [84]:
sentence=s1+s2
print(sentence)

abcd'efg

In [85]:
s2="""'efg"""
for i in s2:
    print(i)

'
e
f
g

In [86]:
if 'e' in s2:
    print('yes')
else:
    print('no')

yes

In [87]:
if 'fg' in s2:
    print('yes')
else:
    print('no')

yes

In [89]:
if 'q' in s2:
    print('yes')
else:
    print('no')

no

### Strip

In [91]:
s='  abcd ""efg    '
print(s)

  abcd ""efg

In [92]:
s=s.strip()
print(s)

abcd ""efg

In [96]:
s='  abcd ""efg    '
s.strip() #original not change
print(s)

  abcd ""efg

### upper & lower & startswith

In [97]:
s='abcd ""efg'
print(s.upper())
print(s)

ABCD ""EFG
abcd ""efg

In [99]:
s='ABCD ""efG'
print(s.lower())
print(s)

abcd ""efg
ABCD ""efG

In [100]:
s='abcd ""efg'
print(s.startswith('abc'))
print(s)

True
abcd ""efg

In [101]:
s='abcd ""efg'
print(s.startswith('A'))
print(s)

False
abcd ""efg

In [103]:
s='abcd ""efg'
print(s.endswith('g'))
print(s)

True
abcd ""efg

In [104]:
s='abcd ""efg'
print(s.endswith('efg'))
print(s)

True
abcd ""efg

In [105]:
s='abcd ""efg'
print(s.find('e'))
print(s)

7
abcd ""efg

In [106]:
s='abcd ""efg'
print(s.find('efg'))
print(s)

7
abcd ""efg

In [107]:
s='abcd ""efg'
print(s.find('cd'))
print(s)

2
abcd ""efg

In [114]:
my_string='Hello World'
print(my_string.find('zk'))

-1

In [116]:
s='abcd ""efga a'
print(s.count('a'))
print(s)

3
abcd ""efga a

In [117]:
s='abcd ""efga a'
print(s.count('q'))
print(s)

0
abcd ""efga a

In [65]:
my_string='Hello World'
print(my_string.replace('World','eeel'))

Hello eeel

In [120]:
s='abcd ""efga a'
print(s.replace('efg','222'))

abcd ""222a a

In [124]:
s='abcd ""efga a'
list=s.split()
print(type(list))
print(list)

<class 'list'>
['abcd', '""efga', 'a']

In [126]:
s='abcd ""efga a'
list=s.split(" ")
print(list)

['abcd', '""efga', 'a']

In [130]:
s='abcd,"",efga, a'
list=s.split(",")
print(list)

['abcd', '""', 'efga', ' a']

In [138]:
s='abcd,"",efga, a'
s=s.split(",")
print(s)
s=''.join(s)
print(s)

['abcd', '""', 'efga', ' a']
abcd""efga a

In [139]:
s='abcd,"",efga, a'
s=s.split(",")
print(s)
s=' '.join(s)
print(s)

['abcd', '""', 'efga', ' a']
abcd "" efga  a

In [133]:
list=['s']*6
print(list)

['s', 's', 's', 's', 's', 's']

In [135]:
from timeit import default_timer as timer

In [143]:
#bad code expensive to compute 
start=timer()
list=['s']*1000000
#print(list)
s=''
for i  in list:
    s +=i
    stop=timer()
#print(s)
print(stop-start)

15.472886299947277

In [144]:
#good and cheap to compute
start=timer()
list=['s']*1000000
#print(my_list)
s =''.join(list)
stop=timer()
#print(my_string)
print(stop-start)

0.01085089985281229

### format strings

If variable is text

In [174]:
name="Alex"
s="my name is %s" % name
print(s)

my name is Alex

if variable is number

In [175]:
age=44
s="my age is %d" % age
print(s)
print(type(s))

my age is 44
<class 'str'>

In [209]:
var=5.34256
s="he price of the product is %d dollars" % var
print(s)

he price of the product is 5 dollars

In [208]:
var=5.34567234
s="the price of the product is %f dollars" % var 
print(s)

the price of the product is 5.345672 dollars

In [206]:
var=125.7644545634
s="the price of the product is %.2f dollars" % var
print(s)

the price of the product is 125.76 dollars

In [186]:
var=5.123456789456
s="the variable is {}".format(var)
print(s)

the variable is 5.123456789456

In [205]:
var=23.4564546
s="I have {:.2f} dollars".format(var)
print(s)

I have 23.46 dollars

In [213]:
height=1.754
name='John'
s="my height is {:.2f} and my name is {}".format(height,name)
print(s)

my height is 1.75 and my name is John

In [212]:
height=1.754
name='John'
s="my height is {height:.2f} and my name is {name}".format(height=1.5467,name="John")
print(s)

my height is 1.55 and my name is John

In [196]:
var=5.67573578
var2=6
my_string=f"the variable is {var*2} and {var2}"
print(my_string)

the variable is 11.35147156 and 6

In [211]:
s = "My name is {fname}, I'm {age} years old".format(fname = "Matt", age = 36)
print(s)

My name is Matt, I'm 36 years old

In [200]:
s = "My name is {0}, I'm {1}".format("Matt", 36)
print(s)

My name is Matt, I'm 36

In [210]:
name="Matt"
age=45
s = "My name is {0} and I am {1} years old. My best friend is also {1} years old.".format(name, age)
print(s)

My name is Matt and I am 45 years old. My best friend is also 45 years old.

In [215]:
my_string = "{}, is a {} {} science portal"
 
print(my_string.format("GeeksforGeeks", "computer", "geeks"))

GeeksforGeeks, is a computer geeks science portal